* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
}

A:link IMG, A:visited { border-style: none }
/* A:focus {text-decoration: underline } */

a:link, a:visited {
  /* text-decoration: none; */
  color: #000000;
} 
/* a:hover {  text-decoration: underline } */

/* a:focus { background-color: #ccccee } */

/* 2.1 look, whatever */
.fsdisabled {
  background-color: #dddddd;
  color: #666666;
  border: 1px solid #999999;
  padding: 1px;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}

